version: '3.8'

services:
  backend:
    build: .
    ports:
      - "8080:8080"  
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://algoritmosja-db:3306/algoritmosjabank
      SPRING_DATASOURCE_USERNAME: algoritmosja
      SPRING_DATASOURCE_PASSWORD: 123
    networks:
      - algoritmosja-network

networks:
  algoritmosja-network:
    external: true
